<section>
    <h4>{{ title }}</h4>
    <ul class="footerPosts">
        {% for article in articles %}
            <li><a href="{{ article.get_absolute_url }}">{{ article.title }}</a>
                <span class="meta">{{ article.pub_date }}</span></li>
        {% endfor %}
    </ul>
</section>