<nav id="main_menu" class="navbar-header">
    <ul class="primary_menu">
        <li item-name="home" class="active"><a href="{% url 'home' %}">home</a></li>

        {% for category in visible_categories %}
            <li item-name="{{ category.slug }}"><a href="{{ category.get_absolute_url }}">{{ category.name }}</a></li>
        {% endfor %}

        {% if hidden_categories|length > 0 %}
            <li class="parent dcjq-parent-li">
                <a class="dcjq-parent" href="javascript:void(0)">other categories<i></i></a>
                <ul>
                    {% for category in hidden_categories %}
                        <li item-name="{{ category.slug }}">
                            <a href="{{ category.get_absolute_url }}">{{ category.name }}</a>
                        </li>
                    {% endfor %}
                </ul>
            </li>
        {% endif %}
    </ul>
</nav>