{% extends 'apps/articles/articles_base.html' %}

{% load static %}
{% load articles_extras %}

{% block css %}
    <link href="{% static 'apps/articles/css/article_list.css' %}" rel="stylesheet">
    <link href="{% static 'base/css/pagination.css' %}" rel="stylesheet">
{% endblock %}

{% block page_title %}{% endblock %}

{% block content %}
    <div class="filter clearfix">
        <ul class='sort'>
            <li><a data-name="latest" href="{{ request.path }}?sorting=latest&time={{ path_config.time }}">
                Latest</a></li>
            <li><a data-name="important" href="{{ request.path }}?sorting=important&time={{ path_config.time }}">
                Important</a></li>
            <li><a data-name="most_views" href="{{ request.path }}?sorting=most_views&time={{ path_config.time }}">
                Most views</a></li>
            <li><a data-name="popular" href="{{ request.path }}?sorting=popular&time={{ path_config.time }}">
                Popular</a></li>
        </ul>

        <ul class='sort-time'>
            <li><a data-name="day" href="{{ request.path }}?sorting={{ path_config.sorting }}&time=day">
                Day</a></li>
            <li><a data-name="week" href="{{ request.path }}?sorting={{ path_config.sorting }}&time=week">
                Week</a></li>
            <li><a data-name="month" href="{{ request.path }}?sorting={{ path_config.sorting }}&time=month">
                Month</a></li>
            <li><a data-name="all" href="{{ request.path }}?sorting={{ path_config.sorting }}&time=all">
                All time</a></li>
        </ul>
    </div>

    {% if news.object_list|length > 0 %}
        <ul class="article-list">
            {% for article in news.object_list %}
                <li>
                    {% if article.main_image %}
                        <div class="article-image">
                            <a href="{{ article.get_absolute_url }}">
                                <img src="{{ article.main_image.preview_image.url }}" class="img-responsive">
                            </a>
                        </div>
                    {% endif %}
                    <div class="article-meta">
                        <h3><a href="{{ article.get_absolute_url }}">{{ article.title }}</a></h3>

                        <div>
                            <time>{{ article.pub_date|date:"d-m-Y H:i" }}</time>
                        </div>

                        {% if user.is_authenticated or article.access_mask != 'VSBL_HED' %}
                            <div class="article-description">
                                {{ article.thumbnail }}
                            </div>
                        {% endif %}
                    </div>
                </li>
            {% endfor %}
        </ul>
    {% else %}
        <h1>No news</h1>
    {% endif %}
{% endblock %}

{% block pages %}
    {% if news.object_list|length > 0 and news.paginator.num_pages > 1 %}
        <div class="pagination">
            <ul>
                {% if pagination.has_prev_button %}
                    <li><a href="{{ path_config.absolute_path_without_page }}&page={{ news.number|add:'-1' }}">Prev</a>
                    </li>
                {% endif %}

                {% for page in pagination.prev_pages %}
                    <li>
                        <a href="{{ path_config.absolute_path_without_page }}&page={{ page }}">
                            {{ page }}
                        </a>
                    </li>
                {% endfor %}

                <li class="active"><span>{{ news.number }}</span></li>

                {% for page in pagination.next_pages %}
                    <li>
                        <a href="{{ path_config.absolute_path_without_page }}&page={{ page }}">
                            {{ page }}
                        </a>
                    </li>
                {% endfor %}

                {% if pagination.has_next_button %}
                    <li><a href="{{ path_config.absolute_path_without_page }}&page={{ news.number|add:'1' }}">Next</a>
                    </li>
                {% endif %}
            </ul>
        </div>
    {% endif %}
{% endblock %}

{% block js %}
    <script>
        var sorting_filter = '{{ path_config.sorting }}';
        var time_filter = '{{ path_config.time }}';

        $('.filter ul li a.active').removeClass('active');

        $('.filter ul li a[data-name=' + sorting_filter + ']').addClass('active');
        $('.filter ul li a[data-name=' + time_filter + ']').addClass('active');
    </script>
{% endblock %}

