.tag_block {
    margin-top: 15px;
    text-transform: uppercase;
    font-size: 18px;
}

.tag {
    margin-bottom: 7px;
    font-size: 16px;
}

.tag a {
    background: none repeat scroll 0 0 #d8dfe5;
    border-radius: 2px;
    color: #758694;
    display: block;
    float: left;
    font-size: 85%;
    margin-top: 5px;
    padding: 0 8px;
    text-decoration: none;
}

.tag a:hover {
    background: #53a3b7;
    color: #fff;
}