/* main navigation / desktop styles
================================================== */

/* colors first level */
.primary_menu li a:hover,
.primary_menu li a:focus,
.primary_menu .active > a,
.primary_menu li a.selected {
    color: #fff;
    background: #53a3b7;
    outline: 0;
}

/* colors second level */
.primary_menu ul li a:hover,
.primary_menu ul li a:focus,
.primary_menu ul .active > a,
.primary_menu ul a.selected,
.primary_menu .parent > .active {
    color: #fff;
    background:#53a3b7;
    outline: 0;
}

/* arrow background images */
.primary_menu li.parent i {
	background: url(../images/menu_arrow.png) 0 0 no-repeat;
	display: inline-block;
	width: 5px;
	margin-left: 8px;
	height: 5px;
	position: relative;
	top: -2px;
}
.primary_menu ul li.parent i {
	background-position: -5px 0;
}

.primary_menu {
	float: right;
	margin: 0;
	padding: 0;
	position: relative;
	list-style: none;
}
.primary_menu ul {
	margin: 0;
	padding: 0;
	display: none;
}

/* first level */
.primary_menu li {
	float: left;
	list-style: none;
	margin: 0 0 0 2px;
	padding: 0;
	position: relative;
	background: #4c5966;
	text-transform: lowercase;
}

.primary_menu li a {
	border: none;
	color: #d8dfe5;
	display: block;
	height: 50px;
	line-height: 50px;
	margin: 0!important;
	padding: 0 12px;
	text-decoration: none;
	font-size: 105%;
}

.primary_menu li ul li a, .lt-ie9 .primary_menu li ul li a {
	font-size: 100%;
}

.primary_menu li ul li {
	background: #758694;
	float: none;
	left: auto;
	margin: 0;
	top: 0;
	width: 100%;
}

.primary_menu li ul li ul li {
	background: #758694;
}

.primary_menu li li {
	border-bottom: 1px solid #a3b0bb;
}

.primary_menu li ul a,
.primary_menu li ul li a,
.primary_menu li ul li ul li a {
	height: auto;
	line-height: 1.5;
	padding: 7px 10px;
	width: 175px;
	color: #fff;
}

.primary_menu li ul {
	background: #6d767e;
	left: 0;
	padding: 0;
	position: absolute;
	top: 50px;
	z-index: 100;
}
.primary_menu li ul ul {
	border-top: 0;
	z-index: 100000;
}
.primary_menu ul ul {
	border: none;
	top: 0!important;
	left: 195px;
}
.primary_menu li ul li ul {
	padding: 0;
	position: absolute;
	top: 0;
}