.pagination {
    width: 100%;
    margin: 0 !important;
    text-align: center;
}

.pagination ul {
    display: inline-block;
    margin: 0;
    border-radius: 0;
    box-shadow: none;
    list-style: none;
}

.pagination ul > li {
    display: inline;
    text-align: center;
}

.pagination ul > li > a,
.pagination ul > li > span {
    background: transparent url("../images/pagination-background.png");
    border: medium none;
    float: left;
    line-height: 20px;
    margin: 0 3px;
    padding: 3px 6px;
    color: #576674;
    font-size: 11px;
    text-decoration: none;
}

.pagination ul > .active > a,
.pagination ul > .active > span {
    color: #fff !important;
    cursor: default;
}

.pagination ul > li > a:hover,
.pagination ul > .active > a,
.pagination ul > .active > span {
    background: transparent url("../images/pagination-active-background.png");
    color: #fff;
}